.LogIn-Box {
    display: flex;
    /* gap: 10rem; */
    margin: 15vh 0 0;
    justify-content: space-evenly;
    width: 80vw;
}

.Flex-Box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    border: solid black 1px;
    background: linear-gradient(to top, #0088FF 0%, #FF6347 100%);
    font-size: 3rem;
    justify-content: space-around;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 1);
}
li {
    list-style: none;
}